*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: grid;
    place-items:center ;
    background-color: orange;
}
div{
    width: 50vw;
    height: 50vh;
    border-radius: 10px;
    background-color: rgb(89, 149, 217);
    display: grid;
    place-items:center ;
}
#tempCalculator{
    font-size: 30px;
}
#temp{
    border: none;
    padding: 10px;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin-top: 20px;
}
#temp_diff{
    height: 40px;
    border: none;
    margin-top: 20px;
    font-size:15px ;
    vertical-align: top;
}
[type="submit"]{
    border: none;
    height: 35px;
    width: 100px;
    font-size: 15px;
    margin: 20px 300px;
    background-color: black;
    color: white;
    align-items: center;
}
#resultContainer{
    color: black;
    font-size: 35px;
    text-align: center;
    margin-left: 260px;
}